<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/clothes">clothes</a>></li>
            <li> <a href="/jacket">jacket</a>></li>
            <li> <a href="/shoes">shoes</a>></li>
        </ul>
    </nav>

    <header>
        {% block content %} {% endblock %}
        <p> Стоимость: {% block cost %} {% endblock %}</p>
    </header>

    <footer>
        <p> Контакты: тел./факс 8-123-456-78-90, г. Пермь, ул. Ленина, д.4, офис 14</p>
    </footer>

</body>

</html>